* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

:root {
    --desc-color: #696d77;
    --heading-color: #212832;
    --primary-color: #8476e3;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    min-width: 113px;
    height: 52px;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 8px;
    background: var(--heading-color);
    border-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section__title {
    display: inline-block;
    position: relative;
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    padding-left: 26px;
}

.section__title::before {
    content: "";
    position: absolute;
    margin-right: 6px;
    left: 0;
    border-radius: 1px;
    bottom: 12px;
    width: 18px;
    height: 2px;
    background: var(--desc-color);
}

.section__heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.section-second__desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-second__heading {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.section-third__heading {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Header */
.header {
    padding: 42px 0;
    background: #fff;
}

.header__inner,
.header__logo,
.header-nav,
.header-nav__list,
.header__action {
    display: flex;
    align-items: center;
}

.header__logo-name {
    margin-left: 6px;
}

.header-nav {
    margin-left: 70px;
}

.header-nav__list {
    display: flex;
    gap: 48px;
}

.header-nav__link {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    transition: 0.25s;
}

.header-nav__link:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 0 var(--heading-color);
    text-decoration: underline;
}

.header-nav__link--active {
    color: var(--heading-color);
    text-shadow: 1px 0 0 var(--heading-color);
    text-decoration: underline;
}

.header__action {
    margin-left: auto;
}

.header-action__btn:hover {
    opacity: 0.9;
}

.header__log-in {
    display: inline-block;
    padding-right: 28px;
    color: var(--heading-color);
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    transition: 0.25s;
}

.header__log-in:hover {
    text-decoration: underline;
}

/* Hero */

.hero {
    margin-top: 34px;
    display: flex;
    background: #fff;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: var(--heading-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__heading-strong {
    color: var(--primary-color);
}

.hero__desc {
    display: inline-block;
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    border: none;
    outline: none;
    padding: 23px;
    font-family: "Open Sans", sans-serif;
}

.hero-form__input::placeholder {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero-form__btn {
    margin-right: 10px;
    min-width: 149px;
    height: 58px;
    margin-left: auto;
    background: var(--primary-color);
}

.hero-form__btn:hover {
    opacity: 0.9;
}

.hero__note {
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    margin-left: 160px;
    position: relative;
}

.hero__media-decor-01,
.hero__media-decor-02,
.hero__media-decor-03 {
    position: absolute;
}

.hero__media-decor-01 {
    top: 18%;
    left: -40%;
}

.hero__media-decor-02 {
    top: 22%;
    right: -58%;
}

.hero__media-decor-03 {
    top: 76%;
    right: -25%;
}

/* Guide */
.guide {
    margin-top: 190px;
}

/* Guide top */
.guide-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide-media-top__wrap {
    position: relative;
    width: 470px;
    height: 619px;
    padding: 0 7px;
}

.guide-media-top__img {
    position: relative;
    width: 456px;
    height: 619px;
    object-fit: cover;
    z-index: 1;
}

.guide-bg-top,
.guide-media-top__card,
.guide-check-top {
    position: absolute;
}

.guide-bg-top {
    bottom: 0;
    left: 0;
}

.guide-media-top__card {
    top: 12%;
    right: 12%;
}

.guide-check-top {
    width: 226px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 15px;
    column-gap: 10px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.guide-check-top {
    bottom: 15%;
    right: -22%;
    z-index: 2;
}

.guide-check-top__title {
    color: var(--heading-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-check-top__desc {
    margin-top: 4px;
    color: var(--desc-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}

.guide-top__content {
    width: 40%;
}

.guide-top__heading {
    margin: 12px 0 70px 0;
}

.guide-top__content-desc {
    margin: 16px 0 30px 0;
}

/* Guide mid */
.guide-mid {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide-mid__content {
    width: 470px;
}

.guide-mid__desc {
    margin: 20px 0 28px 0;
}

.guide-mid__second-heading {
    margin-bottom: 18px;
    padding-left: 22px;
    color: var(--heading-color);
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    position: relative;
}

.guide-mid__second-heading::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.guide-mid__btn {
    margin-top: 20px;
    min-width: 149px;
    height: 58px;
}

.guide-mid__btn:hover {
    opacity: 0.9;
}

/* Guide bottom */
.guide-bottom {
    flex-direction: row-reverse;
}

.guide-media-bottom__wrap {
    display: flex;
    justify-content: center;
    width: 470px;
    height: 600px;
    position: relative;
    z-index: 1;
}

.guide-bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.guide-media-bottom__img {
    width: 413px;
    height: 600px;
    object-fit: cover;
    z-index: 1;
}

.guide-media-bottom__dollar {
    position: absolute;
    right: -30%;
    bottom: 28%;
    z-index: 3;
}

.guide-mid__content {
    width: 40%;
}

.guide-pay-method {
    position: absolute;
    bottom: -5%;
    right: -25%;
    z-index: 2;
}

/* Review */
.review {
    margin-top: 160px;
}

.review__head {
    text-align: center;
}

.review__head-title {
    margin-bottom: 12px;
}

.review__desc {
    margin: 18px auto 0;
    width: 37%;
}

/* Review list */

.review-list {
    margin-top: 70px;
}

.review__desc-wrap {
    padding: 42px 28px 45px;
    text-align: center;
    width: 570px;
    height: 260px;
    background: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: 0.25s ease;
    cursor: pointer;
}

.review__desc-wrap:hover {
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    transform: translateY(-10px);
}

.review__desc-wrap:hover.review__desc-wrap::after {
    border-color: transparent;
}

.review__desc-wrap::after {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 42%;
    width: 80px;
    height: 80px;
    background: inherit;
    border: 1px solid #dfe2e8;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 60%;
    transform: rotate(45deg);
    transition: 0.25s ease;
}

.review-item__desc {
    color: #696d76;
    text-align: center;
    font-family: "Open Sans";
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.review-list {
    display: flex;
    justify-content: space-between;
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-ava {
    margin-top: 100px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4bb5e3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.review-item:nth-child(2) .review-ava {
    background: #429e8f;
}

.review-ava__img {
    width: 100%;
    border-radius: 50%;
}

.review-name {
    margin-top: 20px;
    color: #070052;
    font-family: "Open Sans";
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.review-service {
    color: #696d76;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.review__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.review__dot {
    outline: none;
    width: 20px;
    height: 6px;
    background: #fff;
    border: 0.5px solid #9b9fab;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.25s;
}

.review__dot:hover {
    border-color: transparent;
    background: var(--primary-color);
}

.review__dot--active {
    border-color: transparent;
    background: var(--primary-color);
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-top__content {
    width: 37%;
}

.blog-top__heading {
    margin-top: 6px;
}

.blog-top__desc {
    margin-top: 18px;
}

.blog-top__btn {
    min-width: 123px;
    height: 58px;
}

/* Blog list */
.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 28px;
    background: #fff;
    border: 1px solid #dfe2e8;
    transition: 0.25s;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    transform: translateY(-10px);
}

.blog-item:hover .blog-item__link {
    color: var(--primary-color);
}

.blog-item__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-info__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 22px;
}

.blog-item__heading {
    margin-top: 10px;
}

.blog-item__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

/* Download app */
.download {
    margin-top: 160px;
}

.download__inner {
    position: relative;
    padding: 100px 0;
    background: #7264d6;
    border-radius: 24px;
    text-align: center;
}

.download__content {
    display: inline-block;
    width: 435px;
}

.download__heading,
.download__desc,
.download__title {
    color: #fff;
}

.download__title::before {
    background: #fff;
}

.download__heading {
    margin-top: 12px;
}

.download__desc {
    margin-top: 18px;
}

.download__app {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.download__app-link {
    display: block;
    transition: 0.25s;
}

.download__app-link:hover {
    opacity: 0.9;
}

.download-decor {
    position: absolute;
    animation: spinner 3s infinite linear;
}

@keyframes spinner {
    0% {
        rotate: 0deg;
        scale: 1;
    }

    50% {
        rotate: 180deg;
        scale: 0.5;
    }
    100% {
        rotate: 360deg;
        scale: 1;
    }
}

.download-decor:nth-of-type(1) {
    top: 10%;
    left: 10%;
}

.download-decor:nth-of-type(2) {
    top: 10%;
    right: 5%;
}

.download-decor:nth-of-type(3) {
    bottom: 10%;
    left: 15%;
}

.download-decor:nth-of-type(4) {
    bottom: 10%;
    right: 10%;
}
